---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
.card {
  // height: 10px
}

body {
  font-family: helvetica;
}

.core-wrapper{
  width:800px !important;
}

.panel-wrapper{
  display:none !important;
}
table {
}

tr {
  border-bottom: 1px solid var(--btn-paginator-border-color);
}

.tr_:hover { 
  background: var(--btn-paginator-hover-color); 
}

th {
   color: var(--post-list-text-color);
   font-weight: bold;
   // text-align: center;
   padding: 16px; 
}

td a { 
   display: block; 
   // border: 1px solid black;
   padding: 16px; 
   color: var(--post-list-text-color);
}

a:hover {
  color: var(--post-list-text-color);
}



/* --- add some top spacing to the top-bar; looks a little nicer when we embed in wordpress --- */
#topbar-wrapper {
  height: 70px;

  [data-topbar-visible='false'] & {
    top: -60px; /* same as topbar height. */
  }
}

#search-wrapper {
  // margin-top: 10px
}

blockquote {
  @include prompt('tip', '✔', 'regular');
}

#sidebar {
   // width: 270px;
   // ^ delete this
}

#main-wrapper {
  margin-right: 0px;
  // margin-left: 0px;
}

#main {
  margin-left: 0px;
  width: 100%;
  max-width: 100%;
}

#defbox {
  display: none;
  position: absolute;
  max-width: 500px;
  height: 250px;

  background-color: rgba(0,0,0,0);
  opacity: 0;
  transition: opacity 400ms;
  transition-delay: .5s;
}

#defbox:hover {
  opacity: 1;
}

#defbox-text {
  padding: 10px;
  
  height: 200px;
  width: 300px;
  bottom: -15px;
  position: relative;

  background-color: rgba(0,0,0,.8);
  font-size: 18px;
  color: white;
  border-radius: 10px;
  word-wrap: normal;
  overflow-y: scroll;
}

.glosstag {
  color: rgba(110, 16, 43, .8);
  font-weight: bold;
}




/* it will be created by Liquid */
.table-wrapper-custom {
  table-layout: auto;
  width: auto;

  td, th {
    padding: 5px; 
  }
}

.td-no-wrap {
  white-space:nowrap;
}



// remove the dot because it was causing formatting issues
#archives {

  .year {

    /* Year dot */
    &::after {
      content: '';
      display: none;
    }
  }
}