---
layout: page
# The Home page layout
---

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

{{ content | markdownify }}

<div id="post-list">
  <table>
    <tr> 
      <th>Title</th>
      <th>Article Publication Date</th>
      <th>Tags</th>
      </a>
    </tr>
    {% for post in posts %}
      <tr class = 'tr_'>
        <td><a class = "aa" href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
        <td><a class = "aa" href="{{ post.url | relative_url }}">{% include datetime.html date=post.date %}</a></td>
        <td><a class = "aa" href="{{ post.url | relative_url }}">{{ post.tags }}</a></td>
      </tr>




      <!-- .post-review -->
    {% endfor %}
  </table>
</div>
<!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}